
@font-face {
    font-family: exo2;
    src: url('/fonts/Exo2-Regular.ttf');
}

body {
    background-color: #4E6677;
    font-family: exo2;
    font-weight: lighter;
    font-size: 16px;
}


.page-header {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.page-header h2 {
    color: #e6af2e;
    letter-spacing: 5px;
    font-size: 2.25em;
    overflow: hidden;
    border-right: 3px #e6af2e solid;
    margin: 0 auto;
    animation: 
        typing 2s steps(23, end), 
        blink-cursor .75s step-end infinite;
}

@keyframes typing {
    from { width: 0}
    to {width: 79%;}
}

@keyframes blink-cursor {
    from, to {border-color: transparent;}
    50% {border-color: #e6af2e;}
}



.head-img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    
}

.intro {
    color: #dadff7;
    margin-top: 50px;
}

h3 {
    color: #e6af2e;
    font-weight: lighter;
    font-size: 1.5em;
    margin-left: 40px;
    margin-bottom: 2px;
}

.intro-p {
    margin-top: 15px;
    text-align: center;
    line-height: 35px;
}

.intro-tag {
    color: #e6af2e;     
}

.coderacademy a {
    text-decoration: none;
    padding: 4px;
    color: #e6af2e;
    background-color: #A0C1D1;
    border-radius: 30px;
    
}

.coderacademy a:hover {

}

.coderacademy a:visited {
    color: #4E6677;
}



