
@font-face {
    font-family: exo2;
    src: url('/fonts/Exo2-Regular.ttf');
}

.page-container {
    position: relative;
    min-height: 100vh;
}


body {
    background-color: #4E6677;
    font-family: exo2;
    font-weight: lighter;
    font-size: 16px;
    height: auto;
	width: auto;
    margin: 0;
}

@media only screen and (max-width: 600px) {

    .page-header {
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }
    
    .page-header h2 {
        color: #e6af2e;
        letter-spacing: 5px;
        font-size: 2em;
        overflow: hidden;
        border-right: 3px #e6af2e solid;
        margin: 0 auto;
        animation: 
            typing 2s steps(23, end), 
            blink-cursor .75s step-end infinite;
    }
    
    @keyframes typing {
        from { width: 0}
        to {width: 79%;}
    }
    
    @keyframes blink-cursor {
        from, to {border-color: transparent;}
        50% {border-color: #e6af2e;}
    }
    
    
    
    .head-img {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 50%;
        
    }
    
    .content {
        color: #dadff7;
        margin-top: 10px;
        padding: 40px;
        padding-top: 10px;
        position: static;
    
    }
    
    .desktopHomeContent {
        display: none;
    }
    
    .content h3 {
        color: #e6af2e;
        font-weight: lighter;
        font-size: 1.5em;
        margin-left: 40px;
        margin-bottom: 2px;
    }
    
    .content p {
        margin-top: 15px;
        text-align: center;
        line-height: 35px;
    }
    
    .content-tag {
        color: #e6af2e;     
    }
    
    .content a {
        text-decoration: none;
        padding: 4px;
        color: #e6af2e; 
        border-radius: 30px;
        
    }
    
    
    
    .coderacademy a:visited {
        color: #e6af2e;
    }
    
    .socials {
        width: 11%;
        position: sticky;
        margin: 5px;
        bottom: 30px;
        z-index: 1;
        float: left;
    
        }
        
        .socials a {
        display: flex;
        flex-direction: column;
        margin: 4px 0;
        }
        
        .socials img {
        height: 32px;
        width: 32px;
        }
    
    
    nav { 
        width: 80%;
        position: sticky;
        margin: 10px 0px 10px 43px;
        bottom: 30px;
        right: 30%;
    
        }
        
        nav .menu {
        display: flex;
        justify-content: center;
        width: 16px;
        height: 16px;
        padding: 20px;
        border-radius: 50%;
        background-color: lightgrey;
        }
    
        .nav-menu {
        display: flex;
        justify-content: right;
        align-items: flex-end;
        width: 100%;
        }
        
        .nav-menu #menu-links {
        display: none;
        }
        
        #menu-links a {
        float: inline-end;
        background-color: #333;
        text-decoration: none;
        color: white;
        padding: 14px 16px;
        display: block;
        width: 80%;
        
        }
        
        #menu-links a:visted {
        text-decoration: none;
        color: white;
    
        }
    
    
    
    
    
        .about-header {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            margin-left: 0;
            color: #e6af2e;
            letter-spacing: 5px;
            font-size: 2em;
            border-right: 3px #e6af2e solid;
        }
    
        .about-content {
            color: #dadff7;
            margin-top: 10px;
            padding: 40px;
            padding-top: 10px;
            position: static;
        }
    
        .about-content p {
            margin-top: 15px;
            text-align: center;
            line-height: 25px;
        }
    
        .project-header {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            color: #e6af2e;
            letter-spacing: 5px;
            font-size: 2em;
            border-right: 3px #e6af2e solid;
        }
    
        .project-content {
            color: #dadff7;
            margin-left: 40px;
            position: static;
            height: 10px;
        }
    
        .project-content p {
            display: none;
        }
    
    
        .project-posts {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        .project-posts p {
            color: #dadff7;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        .projectPagePreview h3 {
            color: #e6af2e;
            font-weight: lighter;
            font-size: 1.5em;
            margin-bottom: 2px;
            margin-right: 90px;
        }
    
        .projectPagePreview {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #333;
            margin-top: 50px;
            height: 600px;
            border-radius: 30px;
            width: 300px;
        
        }
    
        .projectPagePreview img {
            background-color: #333;
            height: 200px;
            width: 175px;
            border: #333 solid 2px;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 30px;
        }
    
        .projectPreview {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: left;
        }
    
        .projectPreview h3 {
            margin-right: 150px;
            font-size: 20px;
        }
    
        .projectPreview img {
            height: 200px;
            width: 150px;
        }
    
    
        .footerSocials {
            display: none;
        }
    
    
        
        footer {
            display: flex;
            position: static;
            color: white;
            margin-top: 100px;
            justify-content: center;
            padding: 10px;
            background-color: #333;
            width: 100%;
            }
    
    }


    @media only screen and (min-width: 601px) {

        .page-header {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            margin-bottom: 3%;
        }
        
        .page-header h2 {
            color: #e6af2e;
            letter-spacing: 5px;
            font-size: 2em;
            overflow: hidden;
            border-right: 3px #e6af2e solid;
            margin: 0 auto;
            animation: 
                typing 2s steps(23, end), 
                blink-cursor .75s step-end infinite;
        }
        
        @keyframes typing {
            from { width: 0}
            to {width: 290px;}
        }
        
        @keyframes blink-cursor {
            from, to {border-color: transparent;}
            50% {border-color: #e6af2e;}
        }
        
        
        
        .head-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 90px;
            width: 150px;
            border-radius: 50%;
            height: 150px;
            
        }
        
        .content {
            color: #dadff7;
            margin-top: 10px;
            padding: 40px;
            padding-top: 10px;
            position: static;
        
        }
        
        
        .content h3 {
            color: #e6af2e;
            text-align: center;
            font-weight: lighter;
            font-size: 1.5em;
            margin-bottom: 2px;
        }
        
        .content p {
            margin-top: 15px;
            text-align: center;
            line-height: 35px;
        }
        
        .content-tag {
            color: #e6af2e;     
        }
        
        .content a {
            text-decoration: none;
            padding: 4px;
            color: #e6af2e; 
            border-radius: 30px;
            
        }
        
        
        
        .coderacademy a:visited {
            color: #e6af2e;
        }
        
        .socials {
            width: 11%;
            position: sticky;
            margin: 5px;
            bottom: 30px;
            z-index: 1;
            float: left;
        
            }
            
            .socials a {
            display: flex;
            flex-direction: column;
            margin: 4px 0;
            }
            
            .socials img {
            height: 32px;
            width: 32px;
            }
        
        
     
    nav { 
        top: 0;
        position: fixed;
        background-color: #333;
        width: 100%;
    
        }
        
        .menu {
            display: none;
    
        }
        
        .desktopHomeContent {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #dadff7;
        }

        .desktopHomeContent h3 {
            color: #e6af2e;
            padding: 10px;
            background-color: #333;
            width: auto;
            border-radius: 10%;
        }

        .desktopHomeContent img {
            height: 200px;
            width: 150px;
        }

        #menu-links a {
        display: inline-block;
        background-color: #333;
        text-decoration: none;
        color: white;
        padding: 12px;
        }
            
            #menu-links a:visted {
            text-decoration: none;
            color: white;
        
            }
        
            .about-header {
                display: flex;
                justify-content: center;
                margin-top: 15%;
                margin-left: 0;
                color: #e6af2e;
                letter-spacing: 5px;
                font-size: 2em;
            }
        
            .about-content {
                color: #dadff7;
                margin-top: 10px;
                padding: 40px;
                padding-top: 10px;
                position: static;
            }
        
            .about-content p {
                margin-top: 15px;
                text-align: center;
                line-height: 25px;
            }
        
            .project-header {
                display: flex;
                justify-content: center;
                margin-top: 15%;
                color: #e6af2e;
                letter-spacing: 5px;
                font-size: 2em;
            }
        
            .project-content {
                color: #e6af2e;
                margin-left: 40px;
                position: static;
                height: 10px;
                margin-top: 90px;
            }
        
            .project-content p {
                display: none;
            }
        
            .blogPreview {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                background-color: #333;
                margin-top: 50px;
                height: 600px;
                border-radius: 30px;
                width: 375px;
            }

            .blogPreview img {
                background-color: #333;
                height: 200px;
                width: 175px;
                border: #333 solid 2px;
                margin-left: 100px;
                margin-right: 100px;
            }

            .blogPreview p {
                margin-top: 40px;
                margin-left: 20px;
                margin-right: 20px;                
                color: #dadff7
            }     
        
            .project-posts {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 25px;
            }
        
            .project-posts p {
                color: #dadff7;
                margin-left: 20px;
                margin-right: 20px;
            }
        
            .projectPagePreview h3 {
                color: #e6af2e;
                font-weight: lighter;
                font-size: 1.5em;
                margin-bottom: 2px;
                margin-right: 90px;
            }
        
            .projectPagePreview {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #333;
                margin-top: 50px;
                height: 600px;
                border-radius: 30px;
                width: 300px;
            }
        
            .projectPagePreview img {
                background-color: #333;
                height: 200px;
                width: 175px;
                border: #333 solid 2px;
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 30px;
            }
        
            .projectPreview {
                display: none;
            }
        
            .footerSocials {
                display: none;
            }
        
        
            
            footer {
                display: flex;
                position: fixed;
                bottom: 0;
                color: white;
                margin-top: 100px;
                justify-content: center;
                padding: 10px;
                background-color: #333;
                width: 100%;
                }
        
        }
    
    
@media only screen and (min-width: 1270px) {

    .page-header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    }

    .page-header h2 {
    color: #e6af2e;
    letter-spacing: 5px;
    font-size: 2em;
    overflow: hidden;
    border-right: 3px #e6af2e solid;
    margin: 0 auto;
    animation: 
        typing 2s steps(23, end), 
        blink-cursor .75s step-end infinite;
    }

    @keyframes typing {
    from { width: 0}
    to {width: 290px;}
    }

    @keyframes blink-cursor {
    from, to {border-color: transparent;}
    50% {border-color: #e6af2e;}
    }



    .head-img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    }


    nav { 
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color: #333;
    width: 100%;

    }
    
    .menu {
        display: none;

    }
    
    #menu-links a {
    display: inline-block;
    background-color: #333;
    text-decoration: none;
    color: white;
    padding: 12px;
    }

    #menu-links a:hover {
        background-color: lightgray;
        color: #4E6677;
    }

    .content {
        position: relative;
        margin-top: 60px;
        text-align: center;
        background-color: #333;
        padding: 50px;
    }

    .content h3 {
        color: #e6af2e ;
    }

    .content p {
        color: #e6af2e;
    }

    .content a {
        color: #dadff7;
        text-decoration: underline;
    }

    .desktopHomeContent {
        display: flex;
        justify-content: space-around;
        background-color: #dadff7;
        height: 800px;
        width: 100%;
        color: #e6af2e;
        text-align: center;
    }



    .blogPreview {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #333;
        margin-top: 50px;
        height: 600px;
        border-radius: 30px;
        width: 375px;
    }

    .projectPreview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #333;
        margin-top: 50px;
        height: 600px;
        border-radius: 30px;
        width: 400px
        
    }
    
    .blogPreview img {
        background-color: #333;
        height: 200px;
        width: 175px;
        border: #333 solid 2px;
        margin-left: 100px;
        margin-right: 100px;
    }
      
    .projectPreview img {
        background-color: #333;
        height: 200px;
        width: 175px;
        border: #333 solid 2px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .break {
        padding: 7%;
    }

    .blogPreview p {
        margin-top: 40px;
        color: #dadff7
    }

    .projectPreview p {
        text-align: center;
        margin-top: 40px;
        color: #dadff7
    }



    .project-content {
        margin-top: 90px;
        color: #e6af2e;
    }

    .project-content h2 {
        color: #e6af2e;
        margin-left: 20px;
        margin-right: 20px;
    }

    .project-posts {
        margin: 0 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: #e6af2e;
    }

    .projectPagePreview {
        background-color: #333;
        margin-top: 50px;
        height: 600px;
        border-radius: 30px;
        width: 400px;
    }

    .project-posts h3, p {
        margin-left: 20px;
    }

    .project-posts p {
        color: #dadff7;
    }

    .projectPagePreview img {
        background-color: #333;
        height: 200px;
        width: 175px;
        border: #333 solid 2px;
        margin-left: 100px;
        margin-right: 100px;
    }

    footer {
        display: flex;
        position: fixed;
        justify-content: center;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 10px;
        background-color: #333;
    }



    .footerSocials {
        display: flex;
        align-items: center;
        position: relative;
        left: 0;
        margin-left: 60px;
        margin-top: 7px;
        z-index: 1;
    }

    .footerSocials img {
        display: block;
        width: 24px;
        margin-left: 10px;

    }

    .socials {
        display: none;
    }



    .about-header {
    margin-top: 60px;
    margin-left: 60px;
    color: #e6af2e;
    }

    .about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
    color: #dadff7;
    padding-bottom: auto;
    margin-bottom: 31%;
    }

    .about-content a {
        text-align: center;
        text-decoration: none;
        color: #dadff7;
        padding: 10px;
        background-color: #333;
    }

    .about-content a:hover {
        background-color: #dadff7;
        color: #4E6677;
    }